
@font-face {
  font-family: 'Inter';
  src: url('../../font/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('../../font/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('../../font/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../font/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


